#name {
  text-align: center;
}

.unicode-color {
  color: #2477d6;
}

.tech-skills>div>p {
  margin-left: 10%;
}

.current-projects>div>p {
  margin-left: 10%;
}

.refrences>p {
  margin-left: 10%;
}

hr {
  height: 0.3em;
  color: #0026ff;
  max-width: 95%;
  margin: auto auto 1em auto;
  /*border: 0.5px solid black;*/
}

#sidebar {
  background-color: #bec3ff75;
}

.contact-h5 {
  margin-bottom: 0;
}

/*Main body settings*/

.education-icon {
  position: relative;
}

.education-icon>* {
  float: left;
}

.education-icon>*:not(.text-center) {
  margin-right: 2em;
  margin-left: 2em;
}

table {
  width: 90%;
  margin-left: 2em;
}

.jobexp {
  position: relative;
  /*Will have to manually set this for each screen size*/
  margin-top: 2.7em;
}

.jobexp>.col>h4 {
  font-size: 3em;
  margin-top: 0.1em;
}

.jobexp>.col>* {
  float: left;
}

.co-tables:last-child {
  margin-bottom: 2em;
}

.footer {
  min-height: 2em;
  background-color: #2477d6;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*@media*/
@media only screen and (max-width: 365px) {
  .contact-icon {
    margin-left: 5%;
  }

  .tech-skills>div>p {
    margin-left: 5%;
  }

  .current-projects>div>p {
    margin-left: 5%;
  }

  .refrences>p {
    margin-left: 10%;
  }
}
