<div class="row poop">
<div class="col-sm-4"><img src="https://media-exp1.licdn.com/dms/image/C4D35AQFhfOEk-VoRig/profile-framedphoto-shrink_200_200/0/1604298204217?e=1629320400&v=beta&t=1kZlIElcaa87kBytfnxmqGsPO4LzE84VYuns4u7dbP8" class="mx-auto d-block" alt="..." id="pro-pic"></div>
<div class=" row col-sm-8">
    <div class="col align-self-start">
        <h1>Greatest</h1>
    </div>
    <div class="col align-self-center">
        <h2>Hire</h2>
    </div>
    <div class="col align-self-end">
        <h1>Ever</h1>
    </div>


</div>

</div>