<div class="row poop">
  <div class="col-sm-4 d-flex align-items-center">
      <div class="mx-auto d-block">
        <img src="../../assets/images/Anthony.jpg" class="" alt="..." id="pro-pic">
      </div>
  </div>
  <div class="row col">
    <div class="row">
      <div class="col offset-1">
        <h1>Greatest</h1>
      </div>

    </div>
    <div class="row">
      <div class="col offset-3">
        <h1 style="line-height: .7em;">Hire</h1>
      </div>

    </div>

    <div class="row">
      <div class="col offset-5">
        <h1>Ever</h1>
      </div>
    </div>




  </div>

</div>
